<footer class="footer">
  <div class="content has-text-centered">
    <p>{{#site}}{{#author}}{{author}}{{/author}}{{/site}}{{#date}} © {{y}}{{/date}}{{^date}} © 2022{{/date}}</p>
    {{#site}}
    {{#atom}}<a href="/atom.xml">Atom</a>{{/atom}}
    {{#rss}}<a href="/rss.xml">Rss</a>{{/rss}}
    {{/site}}
  </div>
</footer>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        console.log(target);
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>
</body>

</html>