<nav class="navbar is-sticky-top navigation has-background-primary" role="navigation" aria-label="main navigation">
    <div class="container is-mobile">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="icon-text has-text-white p-2">
                    <span class="icon">
                        {{>solid_cat_svg.html}}
                    </span>
                    <span>Why Not Cats?</span>
                </span>
            </a>
            <a class="navbar-item is-active has-text-dark" href="https://blog.whynotcats.com">
                <span class="icon-text">
                    <span class="icon">
                        {{>journal_bookmark_fill_svg.html}}
                    </span>
                    <span>Blog</span>
                </span>
            </a>
            <a href="https://github.com/whynotcats" class="navbar-item is-hidden-touch has-text-white">
                <span class="icon-text">
                    <span class="icon">
                        {{>github_svg.html}}
                    </span>
                    <span>Github</span>
                </span>
            </a>
            <div class="navbar-item is-hidden-desktop is-justify-content-end is-flex-grow-1">
                <a href="https://github.com/whynotcats" class="navbar-item has-text-white">
                    <span class="icon-text is-hidden-touch">
                        <span class="icon">
                            {{>github_svg.html}}
                        </span>
                        <span>Github</span>
                    </span>
                    <span class="icon is-hidden-dekstop">
                        {{>github_svg.html}}
                    </span>
                </a>
                <a target="_blank" href="https://twitter.com/whynotcats" class="navbar-item has-text-white">
                    <span class="icon">
                        {{>twitter_svg.html}}
                    </span>
                </a>
                <a target="_blank" href="https://glass.photo/whynotcats" class="navbar-item has-text-white">
                    <span class="icon">
                        {{>camera_fill_svg.html}}
                    </span>
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <a target="_blank" href="https://twitter.com/whynotcats" class="navbar-item is-hidden-touch has-text-white">
                <span class="icon">
                    {{>twitter_svg.html}}
                </span>
            </a>
            <a target="_blank" href="https://glass.photo/whynotcats" class="navbar-item is-hidden-touch has-text-white">
                <span class="icon">
                    {{>camera_fill_svg.html}}
                </span>
            </a>
        </div>
    </div>
</nav>